.cover {
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  min-height: 757px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  position: relative;
}

.cover-content {
  padding: 165px 50px 0 50px;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  z-index: 3;
}

.cover__title {
  letter-spacing: 0.3em;
  font-family: "Raleway", sans-serif;
  display: flex;
  font-weight: 700;
  font-size: 100px;
  color: #fff;
  height: 100%;
  width: auto;
  flex-direction: column;
  justify-content: space-between;
  background-color: aqua;
}

.aligned-text {
  align-self: start;
  position: relative;
}

.aligned-text_center {
  align-self: center;
  justify-self: center;
  margin-top: 18px;
  margin-left: 30px;
}

.aligned-text_right {
  padding-top: 19px;
  justify-self: end;
  align-self: end;
  background-color: blueviolet;
  margin-right: -0.3em;
}

.cover__description {
  font-family: "Raleway", sans-serif;
  margin-top: 100px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 22px;
  align-items: center;
}

.description__text {
  word-spacing: 19px;
}

a.description__button {
  display: flex;
  border: 1px solid #fff;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  width: 255px;
  height: 50px;
}