.header {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-areas: "header__menu header__logo address";
  align-items: center;
  padding: 90px 50px;
}

.header__menu {
  width: 100%;
  height: 100%;
  grid-area: header__menu;
  display: flex;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
}

.header__links-list-item {
  margin-bottom: 5px;
  list-style: circle;
}

a.header__link {
  text-transform: lowercase;
  text-decoration: none;
  margin-right: 35px;
  border-bottom: 1px solid currentColor;
  
}

.header__links-list-item_first {
  list-style: none;
}

a.header__link_active {
  border: none;
  margin-right: 31px;
  padding-bottom: 1px;
}

.header__logo {
  grid-area: header__logo;
  display: flex;
  margin-top: 3px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.address__list {
  line-height: 24.3px;
  margin: 2px 0px 0px 150px;
  display: flex;
  flex-direction: column;
}

.address__list-number a {
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 1px;
}

.address__list-mail a {
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 1px;
}